*{
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(65, 65, 65);
    color: white;
}

header{
    font-size: 24px;
    border: 1px solid white;
    float: left;
    width: 100%;
}

.head{
    border-radius: 1px solid white;
    height: auto;
    max-height: 160px;
    min-height: 100px;
    padding-top: 2px;
    padding-bottom: 1px;
}

h1{
    background: -webkit-linear-gradient(red, yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 500;
    font-size: 24px;
}

a:hover{
    background: -webkit-linear-gradient(red, yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}

nav{
    width: 100%;
    float: left;
    height: 60px;
    padding-top: 10px;
}

.text{
    width: 100%;
    float: left;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 800px;
}

.container{
    width: 100%;
    overflow-x:auto
}

table{
    float: left;
    text-align: center;
    height: auto;
    width: 100%;
}

td{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

//RANKS

.ranks-rank, .ranks-position{
    width: 10%;
    font-weight: 600;
    font-size: 20px;
}

.ranks-description{
    width: 80%;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
}

td{
    padding: 10px;
}

.ranks{
    font-size: 20px;
    color: rgb(26, 179, 26);
}

.ranks-number{
    font-size: 20px;
}

.earth-ranks-table{
    padding-top: 5px;
    padding-bottom: 5px;
}

.earth-ranks{
    font-size: 24px;
    color: rgb(26, 179, 26);
}

.hell-title-ranks{
    margin-top: 15px;
    font-size: 24px;
    color: rgb(238, 11, 11);
}

.hell-ranks-table, .heaven-ranks-table{
    padding-top: 35px;
    padding-bottom: 5px;
}

.hell-ranks{
    font-size: 20px;
    color: rgb(238, 11, 11);
}

.heaven-title-ranks{
    font-size: 24px;
    color: rgb(251, 255, 0);
}

.heaven-ranks{
    font-size: 20px;
    color: rgb(251, 255, 0);
}

//PACKS

.packs-title-description{
    width: 40%;
    font-weight: 600;
    font-size: 20px;
}

.packs-title-name, .packs-title-members, .packs-title-den, .packs-title-logo{
    width: 10%;
    font-weight: 600;
    font-size: 20px;   
}

.packs-title-members-list{
    width: 20%;
    font-weight: 600;
    font-size: 20px;
}

.pack-name{
    font-size: 24px;
}

.pack-description, .pack-members, .pack-members-list, .pack-den{
    font-size: 20px;
}

#pack-logo-img{
    width: 90px;
    height: auto;
    border-radius: 100px;
    min-width: 50px;
    max-width: 150px;
}

//ROLES 

.roles-name{
    width: 20%;
    font-weight: 600;
    font-size: 20px;
}

.roles-description{
    width: 80%;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
}
